<!doctype html>
<html lang="en">

  <head>
    <title>Futuristic</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Work+Sans:400,700,900&display=swap" rel="stylesheet">

    

    
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">   
    <link href="{{ url_for('static', filename='css/bootstrap-datepicker.css') }}" rel="stylesheet">   
    <link href="{{ url_for('static', filename='css/jquery.fancybox.min.css') }}" rel="stylesheet">   
    <link href="{{ url_for('static', filename='css/owl.carousel.min.css') }}" rel="stylesheet">   
    <link href="{{ url_for('static', filename='css/owl.theme.default.min.css') }}" rel="stylesheet">   
    <link href="{{ url_for('static', filename='css/aos.css') }}" rel="stylesheet">   
    <link href="{{ url_for('static', filename='css/main.css') }}" rel="stylesheet">   

    <!-- MAIN CSS -->
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">  

  </head>

  <body data-spy="scroll" data-target=".site-navbar-target" data-offset="300">

    
    <div class="site-wrap" id="home-section">

      <div class="site-mobile-menu site-navbar-target">
        <div class="site-mobile-menu-header">
          <div class="site-mobile-menu-close mt-3">
            <span class="icon-close2 js-menu-toggle"></span>
          </div>
        </div>
        <div class="site-mobile-menu-body"></div>
      </div>



      <header class="site-navbar site-navbar-target" role="banner">

        <div class="container">
          <div class="row align-items-center position-relative">

            <div class="col-3 ">
              <div class="site-logo">
                <a href="#1" class="font-weight-bold">
                  <img src="static/images/logo.png" alt="Image" class="img-fluid">
                </a>
              </div>
            </div>

            <div class="col-9  text-right">
              


              

              <nav class="site-navigation text-right ml-auto d-none d-lg-block" role="navigation">
                <ul class="site-menu main-menu js-clone-nav ml-auto ">
                  <li class="active"><a href="" class="nav-link">Home</a></li>
                  <li><a href="" class="nav-link">Predict</a></li>
                  <li><a href="" class="nav-link">Team</a></li>
                  <li><a href="" class="nav-link">Contact</a></li>
                  
                </ul>
              </nav>
            </div>

            
          </div>
        </div>

      </header>

    <div class="ftco-blocks-cover-1">
      <div class="site-section-cover overlay" style="background-image: url('static/images/hero_1.jpg')">
        <div class="container">
          <div class="row align-items-center">
            <div class="col-md-5" data-aos="fade-right">
              <h1 class="mb-3 text-white">Image Classification</h1>
              <p>Using Cifar-10 Datasets and CNN Algorithm</p>
            </div>
          </div>
        </div>
      </div>
    </div>


    <div class="site-section py-5" id="1">
      <div class="container">
        <div class="row justify-content-center text-center">
          <div class="col-md-7">
            <div class="heading-39101 mb-5">
              <span class="backdrop text-center">Future</span>
              <span class="subtitle-39191">Future</span>
              <h3>Lets go to the future</h3>
            </div>
          </div>
        </div>
        
        <div class="row align-items-center">
          <div class="col-md-6">
            <div class="heading-39101 mb-5" data-aos="fade-right">
              <img src="static/images/1.png" alt="Image" class="img-fluid">
            </div>
            
          </div>
          <div class="col-md-6" data-aos="fade-left">
            <img src="static/images/2.png" alt="Image" class="img-fluid">
          </div>
        </div>
      </div>
    </div>

    <div class="site-section">

      <div class="container">
        <div class="row justify-content-center text-center">
          <div class="col-md-7">
            <div class="heading-39101 mb-5">
              <span class="backdrop text-center">Prediction</span>
              <span class="subtitle-39191">Prediction</span>
              <h3>Predict your image Here</h3>
            </div>
          </div>
        </div>

        
        <div class="row justify-content-center text-center">
          <div class="col-md-7">
            <div class="heading-39101 mb-5">
              <div>
                  <form id="upload-file" method="post" enctype="multipart/form-data">
                      <label for="imageUpload" class="upload-label">
                          Choose...
                      </label>
                      <input type="file" name="file" id="imageUpload" accept=".png, .jpg, .jpeg">
                  </form>
                  <div class="row justify-content-center text-center">
                    <div class="col-lg-5">
                      <div class="heading-39101 mb-5">
                        <div class="image-section" >
                            <div class="img-preview">
                                <div id="imagePreview">
                                </div>
                            </div>
                            <div>
                                <button type="button" class="btn btn-primary btn-lg " id="btn-predict">Predict!</button>
                            </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="loader" style="display:none;"></div>

                    <h3 id="result">
                        <span> </span>
                    </h3>

                  </div>
              </div>
            </div>
          </div>


      </div>
    </div>




    <div class="site-section">

      <div class="container">
        <div class="row justify-content-center text-center">
          <div class="col-md-10">
            <div class="heading-39101 mb-5">
              <span class="backdrop text-center">Our Team</span>
              <span class="subtitle-39191">Amazing Staff</span>
              <h3>Meet Our Team</h3>
            </div>
          </div>
        </div>


        <div class="row">

          <div class="col-lg-4 col-md-6 mb-4">
            <div class="person-29191 text-center">
              <img src="static/images/Screenshot (137).png" alt="Image" class="img-fluid mb-4">
              <div class="px-4">
                <h2 class="mb-2">Dicky Firmansyah</h2>
                <p class="caption mb-4">277</p>
               
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 mb-4">
            <div class="person-29191 text-center">
              <img src="static/images/Screenshot (138).png" alt="Image" class="img-fluid mb-4">
              <div class="px-4">
                <h2 class="mb-2">Ulhan Maulana Saputra</h2>
                <p class="caption mb-4">269</p>
                
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 mb-4">
            <div class="person-29191 text-center">
              <img src="static/images/Screenshot (139).png" alt="Image" class="img-fluid mb-4">
              <div class="px-4">
                <h2 class="mb-2">Mukhamad Mi'rotsa Wardani</h2>
                <p class="caption mb-4">270</p>
                
              </div>
            </div>
          </div>

        </div>

      </div>
    </div>


    

    
    

    

    

    
    <script src=""></script>
    <script src="{{ url_for('static', filename='js/jquery-3.3.1.min.js') }}" type="text/javascript"></script>

    <script src=""></script>
    <script src="{{ url_for('static', filename='js/jquery-migrate-3.0.0.js') }}" type="text/javascript"></script>

    <script src=""></script>
    <script src="{{ url_for('static', filename='js/popper.min.js') }}" type="text/javascript"></script>

    <script src=""></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}" type="text/javascript"></script>

    <script src=""></script>
    <script src="{{ url_for('static', filename='js/owl.carousel.min.js') }}" type="text/javascript"></script>

    <script src=""></script>
    <script src="{{ url_for('static', filename='js/jquery.sticky.js') }}" type="text/javascript"></script>

    <script src=""></script>
    <script src="{{ url_for('static', filename='js/jquery.waypoints.min.js') }}" type="text/javascript"></script>

    <script src=""></script>
    <script src="{{ url_for('static', filename='js/jquery.animateNumber.min.js') }}" type="text/javascript"></script>
   
    <script src="{{ url_for('static', filename='js/jquery.fancybox.min.js') }}" type="text/javascript"></script>   
    <script src="{{ url_for('static', filename='js/jquery.stellar.min.js') }}" type="text/javascript"></script>  
    <script src="{{ url_for('static', filename='js/jquery.easing.1.3.js') }}" type="text/javascript"></script>
    <script src="{{ url_for('static', filename='js/bootstrap-datepicker.min.js') }}" type="text/javascript"></script>
    <script src="{{ url_for('static', filename='js/isotope.pkgd.min.js') }}" type="text/javascript"></script>
    <script src="{{ url_for('static', filename='js/aos.js') }}" type="text/javascript"></script>
    <script src="{{ url_for('static', filename='js/main1.js') }}" type="text/javascript"></script>
    <script src="{{ url_for('static', filename='js/main.js') }}" type="text/javascript"></script>
  </body>

</html>

